$base-color: #132d7d;
$white: #ffffff;
$base_blue: rgba(109, 199, 250, 0.8);
$border-dark: rgba($base-color, 0.88);

.alert {
  border: 1px solid $border-dark;
}

.container-fluid,
.row {
  padding: 0;
  margin: 0;
}

.poppins {
  font-family: "Poppins", "Libre Baskerville", Georgia, "Times New Roman", Times,
    serif;
}

.hero-new {
  font-family: "hero-new", "Libre Baskerville", Georgia, "Times New Roman",
    Times, serif;
}

.libre {
  font-family: "Libre Baskerville", Georgia, "Times New Roman", Times, serif;
}

/* Global Sizing */
.fh {
  height: 100vh;
}

/* Global Colours */

.front-opac {
  z-index: 30;
  opacity: 0.9;
}

.lwhite {
  background-color: #f1f1f1;
}

.bg-dark-grey {
  background-color: #111;
}

.bg-mustard {
  background-color: #f8c000;
}

.bg-white {
  background-color: #ffffff;
}

.bg-blue {
  background-color: #1327f9;
}

.bg-purple {
  background-color: rgba(121, 109, 173, 0.8);
}

.bg-orange {
  background: linear-gradient(to left, #ef5837 50%, #ef5837 50%);
}

.bg-red {
  background-color: #e54a3e;
}

.bg-yellow {
  background-color: #fde637;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-lgrey {
  background-color: #f5f5f5;
}

.bl-blk {
  border-left: 2vw solid #000;
}

.bb-blk {
  border-bottom: 0.3vw solid #000;
}

.text-white {
  color: #ffffff;
}

.text-offwhite {
  color: #f2eddb;
}

.text-lgrey {
  color: #f1f1f1;
}

.text__blk {
  color: #000;
}

.text__yellow {
  color: #fae75d;
}

.text__blue {
  color: blue;
}

/*.bg-purple:hover {
  background-color: rgba(121, 109, 173, 0.98);
}

.bg-yellow:hover {
  background-color: rgba(255, 255, 91, 0.98);
}

.bg-orange:hover {
  background-color: rgba(209, 148, 91, 0.98);
}*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
