$base-color: #132d7d;
$white: #ffffff;
$base_blue: rgba(109, 199, 250, 0.8);
$border-dark: rgba($base-color, 0.88);

.alert {
  border: 1px solid $border-dark;
}

.container-fluid,
.row {
  padding: 0;
  margin: 0;
}

.poppins {
  font-family: "Poppins", "Libre Baskerville", Georgia, "Times New Roman", Times,
    serif;
}

.hero-new {
  font-family: "hero-new", "Libre Baskerville", Georgia, "Times New Roman",
    Times, serif;
}

.libre {
  font-family: "Libre Baskerville", Georgia, "Times New Roman", Times, serif;
}

/* Global Sizing */
.fh {
  height: 100vh;
}

/* Global Colours */

.front-opac {
  z-index: 30;
  opacity: 0.9;
}

.lwhite {
  background-color: #f1f1f1;
}

.bg-dark-grey {
  background-color: #111;
}

.bg-dark-blue {
  background-color: #181820;
}

.bg-mustard {
  background-color: #f8c000;
}

.bg-white {
  background-color: #ffffff;
}

.bg-blue {
  background-color: #1327f9;
}

.bg-purple {
  background-color: rgba(121, 109, 173, 0.8);
}

.bg-orange {
  background: linear-gradient(to left, #ef5837 50%, #ef5837 50%);
}

.bg-red {
  background-color: #e54a3e;
}

.bg-yellow {
  background-color: #fde637;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-lgrey {
  background-color: #f5f5f5;
}

.bg-purple {
  background-color: #9777ff;
}

.bl-blk {
  border-left: 2vw solid #000;
}

.bb-blk {
  border-bottom: 0.3vw solid #000;
}

.pattern-1 {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3Csvg xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 2250.0652026498356' preserveAspectRatio='xMaxYMax slice'%3E%3Cg transform='scale(3.3383756715872934)'%3E%3Crect x='0' y='0' width='299.55555555555554' height='674' fill='%23ffffff'/%3E%3Cg transform='translate(0,0) scale(3.7445) rotate(0)'%3E%3Crect width='2' height='20' fill='%234f1aff'/%3E%3Crect x='4' width='2' height='20' fill='%234f1aff'/%3E%3Crect x='8' width='2' height='20' fill='%234f1aff'/%3E%3Crect x='12' width='2' height='20' fill='%234f1aff'/%3E%3Crect x='16' width='2' height='20' fill='%234f1aff'/%3E%3C/g%3E%3Cg transform='translate(74.89,0) scale(3.7445) rotate(0)'%3E%3Crect width='2' height='20' fill='%23f2eeff'/%3E%3Crect x='4' width='2' height='20' fill='%23f2eeff'/%3E%3Crect x='8' width='2' height='20' fill='%23f2eeff'/%3E%3Crect x='12' width='2' height='20' fill='%23f2eeff'/%3E%3Crect x='16' width='2' height='20' fill='%23f2eeff'/%3E%3C/g%3E%3Cg transform='translate(149.78,0) scale(3.7445) rotate(0)'%3E%3Crect width='20' height='10' fill='%23d0c2ff'/%3E%3C/g%3E%3Cg transform='translate(224.67,0) scale(3.7445) rotate(0)'%3E%3Crect width='2' height='20' fill='%23a88dff'/%3E%3Crect x='4' width='2' height='20' fill='%23a88dff'/%3E%3Crect x='8' width='2' height='20' fill='%23a88dff'/%3E%3Crect x='12' width='2' height='20' fill='%23a88dff'/%3E%3Crect x='16' width='2' height='20' fill='%23a88dff'/%3E%3C/g%3E%3Cpolygon points='0,74.89 74.89,74.89 74.89,149.78' fill='%23b199ff'/%3E%3Crect x='74.89' y='74.89' width='74.89' height='74.89' fill='%23e6deff'/%3E%3Crect x='149.78' y='74.89' width='74.89' height='74.89' fill='%23bca8ff'/%3E%3Cpolygon points='224.67,74.89 299.56,149.78 224.67,149.78' fill='%23a78cff'/%3E%3Cg transform='translate(0,149.78) scale(3.7445) rotate(0)'%3E%3Crect width='20' height='10' fill='%23ede7ff'/%3E%3C/g%3E%3Crect x='74.89' y='149.78' width='74.89' height='74.89' fill='%23e4dcff'/%3E%3Cg transform='translate(149.78,149.78) scale(3.7445) rotate(0)'%3E%3Crect width='20' height='10' fill='%23e7e0ff'/%3E%3C/g%3E%3Crect x='224.67' y='149.78' width='74.89' height='74.89' fill='%239f82ff'/%3E%3Cpolygon points='0,224.67 74.89,224.67 0,299.56' fill='%23eae4ff'/%3E%3Crect x='74.89' y='224.67' width='74.89' height='74.89' fill='%239b7cff'/%3E%3Cg transform='translate(149.78,224.67) scale(3.7445) rotate(0)'%3E%3Crect width='2' height='20' fill='%23d0c2ff'/%3E%3Crect x='4' width='2' height='20' fill='%23d0c2ff'/%3E%3Crect x='8' width='2' height='20' fill='%23d0c2ff'/%3E%3Crect x='12' width='2' height='20' fill='%23d0c2ff'/%3E%3Crect x='16' width='2' height='20' fill='%23d0c2ff'/%3E%3C/g%3E%3Cpolygon points='224.67,224.67 299.56,224.67 224.67,299.56' fill='%234811ff'/%3E%3Crect x='0' y='299.56' width='74.89' height='74.89' fill='%23774eff'/%3E%3Cpolygon points='74.89,299.56 149.78,299.56 149.78,374.45' fill='%23a98fff'/%3E%3Crect x='149.78' y='299.56' width='74.89' height='74.89' fill='%236233ff'/%3E%3Cg transform='translate(224.67,299.56) scale(3.7445) rotate(0)'%3E%3Crect width='20' height='10' fill='%23dacfff'/%3E%3C/g%3E%3Cg transform='translate(0,374.44) scale(3.7445) rotate(0)'%3E%3Crect width='20' height='10' fill='%23c0adff'/%3E%3C/g%3E%3Cg transform='translate(74.89,374.44) scale(3.7445) rotate(0)'%3E%3Crect width='20' height='10' fill='%23a68bff'/%3E%3C/g%3E%3Cg transform='translate(149.78,374.44) scale(3.7445) rotate(0)'%3E%3Crect width='20' height='10' fill='%23a487ff'/%3E%3C/g%3E%3Crect x='224.67' y='374.44' width='74.89' height='74.89' fill='%23c7b6ff'/%3E%3Cg transform='translate(0,449.33) scale(3.7445) rotate(0)'%3E%3Crect width='20' height='10' fill='%23f0ecff'/%3E%3C/g%3E%3Cg transform='translate(74.89,449.33) scale(3.7445) rotate(0)'%3E%3Crect width='20' height='10' fill='%23fefeff'/%3E%3C/g%3E%3Cpolygon points='224.67000000000002,449.33 224.67000000000002,524.22 149.78,524.22' fill='%23ac93ff'/%3E%3Cg transform='translate(224.67,449.33) scale(3.7445) rotate(0)'%3E%3Crect width='2' height='20' fill='%23b59fff'/%3E%3Crect x='4' width='2' height='20' fill='%23b59fff'/%3E%3Crect x='8' width='2' height='20' fill='%23b59fff'/%3E%3Crect x='12' width='2' height='20' fill='%23b59fff'/%3E%3Crect x='16' width='2' height='20' fill='%23b59fff'/%3E%3C/g%3E%3Cg transform='translate(0,524.22) scale(3.7445) rotate(0)'%3E%3Crect width='2' height='20' fill='%23d5c8ff'/%3E%3Crect x='4' width='2' height='20' fill='%23d5c8ff'/%3E%3Crect x='8' width='2' height='20' fill='%23d5c8ff'/%3E%3Crect x='12' width='2' height='20' fill='%23d5c8ff'/%3E%3Crect x='16' width='2' height='20' fill='%23d5c8ff'/%3E%3C/g%3E%3Cg transform='translate(74.89,524.22) scale(3.7445) rotate(0)'%3E%3Crect width='20' height='10' fill='%234e19ff'/%3E%3C/g%3E%3Cpolygon points='149.78,524.22 224.67000000000002,524.22 224.67000000000002,599.11' fill='%23c4b2ff'/%3E%3Crect x='224.67' y='524.22' width='74.89' height='74.89' fill='%239d7fff'/%3E%3Cg transform='translate(0,599.11) scale(3.7445) rotate(0)'%3E%3Crect width='2' height='20' fill='%23bca8ff'/%3E%3Crect x='4' width='2' height='20' fill='%23bca8ff'/%3E%3Crect x='8' width='2' height='20' fill='%23bca8ff'/%3E%3Crect x='12' width='2' height='20' fill='%23bca8ff'/%3E%3Crect x='16' width='2' height='20' fill='%23bca8ff'/%3E%3C/g%3E%3Cg transform='translate(74.89,599.11) scale(3.7445) rotate(0)'%3E%3Crect width='2' height='20' fill='%23c1afff'/%3E%3Crect x='4' width='2' height='20' fill='%23c1afff'/%3E%3Crect x='8' width='2' height='20' fill='%23c1afff'/%3E%3Crect x='12' width='2' height='20' fill='%23c1afff'/%3E%3Crect x='16' width='2' height='20' fill='%23c1afff'/%3E%3C/g%3E%3Cg transform='translate(149.78,599.11) scale(3.7445) rotate(0)'%3E%3Crect width='20' height='10' fill='%23bda9ff'/%3E%3C/g%3E%3Cpolygon points='224.67,599.11 299.56,674 224.67,674' fill='%23c3b1ff'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: left;
  background-blend-mode: color-burn;
  background-position-y: top;
}

.text-white {
  color: #ffffff;
}

.text-offwhite {
  color: #f2eddb;
}

.text-lgrey {
  color: #f1f1f1;
}

.text-black {
  color: #000;
}

.text-dark-grey {
  color: #222;
}

.text-yellow {
  color: #fae75d;
}

.text-blue {
  color: blue;
}

/*.bg-purple:hover {
  background-color: rgba(121, 109, 173, 0.98);
}

.bg-yellow:hover {
  background-color: rgba(255, 255, 91, 0.98);
}

.bg-orange:hover {
  background-color: rgba(209, 148, 91, 0.98);
}*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
