* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0;
}

:root {
  scrollbar-width: 0px;
  -ms-overflow-style: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* General */

body {
  /*cursor: url('~../img/cursor.svg') 16 16, auto!important;*/
  font-family: "hero-new", -apple-system, BlinkMacSystemFont, San Francisco,
    Roboto, Segoe UI, Ubuntu, Helvetica Neue, Helvetica, Noto, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  color: #181818;
  height: 100%;
  overflow: auto;
  background-color: #fff;

  h1 {
    font-size: min(max(48px, 8vw), 110px);
    letter-spacing: -5px;
    font-weight: 700;
    margin: 0 0 30px 0;
    line-height: 1.2em;
  }

  a {
    color: #333333;
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    /*cursor: url('~../img/cursor-purple.svg') 16 16, auto!important;*/
    color: #000000;
    transition: 0.3s;
  }

  p {
    font-size: 145%;
    line-height: 36px;
    letter-spacing: 2px;
  }
}

@supports (-webkit-text-stroke: 1px black) {
  h1.trans_stroke {
    -webkit-text-stroke: 0.6vw #ffffff;
    -webkit-text-fill-color: transparent;
    font-size: min(max(2vw, 16vw), 18vw);
    line-height: 80%;
  }
}

@supports (-webkit-text-stroke: 1px black) {
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  margin-bottom: 40px;
}

/* Links */

.bold {
  font-weight: 900;
  font-family: "Martel";
  font-size: 3vw;
  letter-spacing: -3px;
}
/* Page Transitions */

/*.page-enter-active,
.page-leave-active {
  transition: opacity 0.25s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}*/
/* Header */

.caption {
  font-weight: 300;
  max-width: 100%;
  font-size: max(22px, 1.6vw);
  letter-spacing: 0.4vw;
  line-height: 150%;
  font-family: "Martel", sans-serif;
  margin: 2vw 0 2vw 0;
}

.header {
  padding: 0 0 10vw 0;
  padding-top: max(250px, 20vw);
}

.difference {
  mix-blend-mode: difference;
}

.title {
  font-size: 22vw;
  line-height: 40%;
  letter-spacing: -2.1vw;
  font-family: "Libre Baskerville", "Poppins", Tiro Bangla, Georgia,
    "Times New Roman", Times, serif;
  font-weight: 700;
  text-transform: lowercase;
  margin: 0 0 5vw 0;
  opacity: 0.95;
}

@supports (-webkit-text-stroke: 1px black) {
  main #banner h1 b {
    -webkit-text-stroke: 0.2vw #222;
    -webkit-text-fill-color: transparent;
  }
}

/* Banner Graphics */

/* Images*/

.scale-crop {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.scale-crop-vw {
  height: 50vw;
}

.blend_mode {
  mix-blend-mode: luminosity;
  background-color: #fde637;
}
